.background {
  height: 100%;
  width: 100%;
  overflow: hidden;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.bg-image {
  background: {
    size: cover;
    position: center;
  }

  display: none;

  @include breakpoint(lg) {
    display: block;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(#343339, .77);
  }
}