#app {
  height: 100%;
}

.wrapper {
  height: 100%;

  @include breakpoint(md) {
    overflow: hidden;
  }

  @include breakpoint(mdlg) {
    overflow: hidden;
  }

  .container-fluid {
    height: 100%;
  }
}
