.col-centered {
  float: none;
  margin: auto;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.relative {
  position: relative;
}

.pull-right {
  margin-left: auto;
}

.pull-left {
  margin-right: auto;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.col-xs-0,
.col-sm-0,
.col-md-0,
.col-lg-0 {
  flex: 0 0 0;
  max-width: 0;
}

.h-100-lg {
  @include breakpoint(lg) {
    height: 100% !important;
  }
}

.mt-50 {
  margin-top: 50px;
}