.footer-mobile-content {
  margin-bottom: 20px;
  padding: 23px 0;
  width: 100%;
  text-align: center;
}

.footer {
  p {
    color: palette(grey, dark);
    @include breakpoint(lg) {
      color: palette(grey, dark);
    }
  }
}