$logo-size: 152px;
$header-height: 126px;

.logo {
  img {
    width: $logo-size / 2;
    height: $logo-size / 2;

    @include breakpoint(lg) {
      width: $logo-size;
      height: $logo-size;
    }
  }
}

header {

}