.home-content {

}

.content {
  &--light {

    text-align: center;
    margin-top: 23px;

    @include breakpoint(lg) {
      text-align: left;
      margin-top: 0;
    }

    h1, p {
      //color: white;
    }
    h1 {
      margin-bottom: 23px;
    }
    .regular-btn {
      margin-top: 23px;
    }
  }
}