.language {
  display: flex;

  ul {
    width: 100%;
    display: inline-block;
    margin-bottom: 23px;

    @include breakpoint(md) {
      width: auto;
      margin-left: auto;
    }

    li {
      display: inline-block;
      margin-left: 12px;

      @include breakpoint(md) {
        margin-left: 6px;
      }

      &:first-child {
        margin-left: 0;
      }

      a {
        font-weight: 400;
        font-family: $main-font;
        font-size: 16px;
        text-transform: uppercase;
        color: palette(grey, dark);

        @include breakpoint(md) {
          font-size: 13px;
        }

        @include breakpoint(lg) {
          color: white;
        }

        &:hover {
          text-decoration: none;
        }

        &.active {
          color: palette(pink);
        }
      }
    }
  }
}