.menu-content {

  h1:not(.heading-regular) {
    font-size: 18px;
    color: palette(pink);
    text-transform: uppercase;
    font-family: $main-font;

    margin-bottom: 13px;
    margin-top: 18px;
  }

  h2 {
    font-size: 16px;
    color: palette(grey);
    text-transform: uppercase;
    font-family: $main-font;

    margin-bottom: 13px;
    margin-top:13px;
  }

  p {
    margin-bottom: 6px;
  }

}