.sidebar-navigation {
  padding: 36px 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  @include breakpoint(lg) {
    height: 100% !important;
  }

  > div {
    width: 100%;
  }

  .menu {
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: palette(grey);

    margin-top: 13px;

    @include breakpoint(lg) {
      margin-top: 0;
    }

    a.router-link-exact-active {
      text-decoration: none;
      color: palette(pink);
    }
  }
}