div.wpcf7-validation-errors {
  color: palette(pink);
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: none !important;
  padding: 0 !important;

  font-size: 13px;
  font-family: $main-font;
}

div.wpcf7-mail-sent-ng {
  color: palette(pink);
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: none !important;
  padding: 0 !important;

  font-size: 13px;
  font-family: $main-font;
}

.wpcf7-not-valid-tip {
  color: palette(pink) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border: none !important;
  padding: 0 !important;
  margin-top: 6px;

  font-size: 13px !important;
  font-family: $main-font;
}