$PROD: false;

// Fonts

$main-font: 'Open Sans', sans-serif;

// Paths

$imgPath:   "../../img";

$pngPath:   "#{$imgPath}/png";

//$svgPath:   "#{$imgPath}/svg";

$fontPath:  "../../fonts";

// Etc...