@import 'data-placeholder';

.form-item {
  margin-bottom: 17px;
}

.regular-input {
  background: rgba( palette(grey), .37 );
  border: 1px solid rgba( palette(grey), .95 );

  width: 100%;
  display: inline-block;
  padding: 0 12px;
  height: 44px;

  font-size: 13px;
  font-family: $main-font;

  color: white;

}

textarea.regular-input {
  padding: 12px;
  min-height: 88px;
}
