<template>
    <div class="h-100">

        <div class="background">
           <div class="row no-gutters h-100">
               <div class="col-lg-3 nopadding" style="background-color: #f6f6f6"></div>
               <div class=" col-lg-9 nopadding bg-image" :style="`background-image: url('${WEBSITE_URL}/assets/public/img/image-1.jpg')`"></div>
           </div>
        </div>

        <div class="container-fluid h-100-lg">
            <div class="row h-100-lg">
                <div class="col-lg-3 h-100-lg">

                    <div class="sidebar-navigation">
                        <div class="logo mb-auto">
                            <img :src="`${WEBSITE_URL}/assets/public/img/logo/logo.png`" alt="">
                        </div>

                        <nav-menu></nav-menu>

                        <div class="footer mt-auto hidden-md-down">
                            <p>
                                2018 <br>
                                All rights reserved
                            </p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="content h-100">

                        <div class="language hidden-md-down">
                            <ul class="pull-right">
                                <li v-for="language in languages">
                                    <a href="" v-on:click.stop.prevent="switchLanguage(language)"
                                       :class="{ 'active' : ($route.params.lang == language) }">{{ language }}</a>
                                </li>
                            </ul>
                        </div>

                        <div class="mobile-image hidden-lg-up" :style="`background-image: url('${WEBSITE_URL}/assets/public/img/image-1.jpg')`">

                        </div>

                        <router-view></router-view>

                        <div class="footer-mobile-content hidden-md-up">
                            <div class="language">
                                <ul class="">
                                    <li v-for="language in languages">
                                        <a href="" v-on:click.stop.prevent="switchLanguage(language)"
                                           :class="{ 'active' : ($route.params.lang == language) }">{{ language }}</a>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                2018 <br>
                                All rights reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    import NavigationMenu from './NavigationMenu.vue';

    export default {

        components: { 'nav-menu': NavigationMenu },

        data() {
            return {
                WEBSITE_URL: URL
            }
        },

        computed: {
            languages() {
                return this.$store.state.languages;
            }
        },


        methods: {
            switchLanguage(language) {
                let urlArr = this.$route.path.split('/');
                urlArr[1] = language;
                let newUrl = urlArr.join('/');

                console.log(urlArr, newUrl)

                this.$router.push(newUrl);
            }
        }
    }
</script>