<template>
    <div class="col-lg-10 offset-lg-2 h-100-lg d-flex align-items-center">
        <div class="content--light w-100">
            <h1 class="heading-regular" v-html="contactsTitle"></h1>

            <div class="row">
                <div class="col-lg-4">
                    <div ref="WP_FORM"></div>
                </div>
                <div class="col-lg-6">
                    <div class="mt-50" v-html="contactsContent"></div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';

    export default {
        data() {
            return {
                currentForm: ''
            }
        },

        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getContacts();
                this.copyForm();
            }
        },

        computed: {
            ...mapState(['contacts', 'contactsContent', 'contactsTitle'])
        },

        methods: {

            getContacts() {

                // check if store has any data
                if ( this.$store.getters.contacts.length ) {
                    this.getContactsTitle( this.contacts );
                    this.getContactsContent( this.contacts );
                } else {
                    this.$store.dispatch('getContacts').then(() => {
                        // now the this.account has the data from the store.
                        this.getContactsTitle( this.contacts );
                        this.getContactsContent( this.contacts );
                    });
                }

            },

            getContactsTitle( data ) {

                let payload = {
                    data: data,
                    lang: this.$route.params.lang
                };

                this.$store.dispatch('getContactsTitle', payload)
            },

            getContactsContent( data ) {

                let payload = {
                    data: data,
                    lang: this.$route.params.lang
                };

                this.$store.dispatch('getContactsContent', payload)
            },

            copyForm() {

                $(this.$refs.WP_FORM).find('.wpcf7').remove();
                this.currentForm = '';

                let forms = {
                    'lv': 'wpcf7-f46-o1',
                    'ru': 'wpcf7-f45-o2',
                    'en': 'wpcf7-f21-o3',
                };

                this.currentForm = forms[this.$route.params.lang];

                let $form = $('#' + this.currentForm).clone();


                $(this.$refs.WP_FORM).append( $form );

                /* onelove for WP stupidity <3 */

                let urlArr = $form.find('form').attr('action').split('/');
                urlArr[1] = this.$route.params.lang;
                let newUrl = urlArr.join('/');

                $form.find('form').attr('action', newUrl)
            }
        },

        mounted() {
            this.getContacts();
            this.copyForm();
        },

        beforeRouteLeave (to, from, next) {
            this.copyForm();
            next();
        },

        beforeRouteUpdate (to, from, next) {
            this.copyForm();
            next();
        },
    }
</script>