<template>

    <div class="col-lg-10 h-100-lg d-flex align-items-center">
        <vue-scrollbar classes="my-scrollbar" ref="Scrollbar">
            <div class="col-lg-9 offset-lg-2">
                <div class="content--light menu-content" style="padding: 0 10px">

                    <div class="row gallery-container">
                        <div class="col-md-6 col-lg-6" v-for="image in gallery">
                            <img :src="image.better_featured_image.media_details.sizes.medium_large.source_url" alt="" class="img-fluid">
                        </div>
                    </div>

                </div>
            </div>
        </vue-scrollbar>
    </div>
</template>

<script>

    import VueScrollbar from 'vue2-scrollbar';
    import {mapState} from 'vuex';

    export default {

        components: {VueScrollbar},

        data() {
            return {

            }
        },

        computed: {
            ...mapState(['gallery'])
        },

        methods: {
            getGallery() {
                this.$store.dispatch('getGallery');
            },
        },

        mounted() {
            this.getGallery();
        }
    }
</script>