<template>
    <div class="col-lg-6 offset-lg-2 h-100-lg d-flex align-items-center">
        <div class="content--light">
            <h1 class="heading-regular">{{ homeTitle }}</h1>
            <p v-html="homeContent"></p>
            <router-link :to="{ name: 'menu', params: { lang: $route.params.lang } }" class="regular-btn">
                menu
            </router-link>
        </div>
    </div>
</template>

<script>

    import {mapState} from 'vuex';

    export default {
        data() {
            return {

            }
        },

        watch: {
            '$route': function(a,b,c) {
                this.getHomePosts();
            }
        },

        computed: {
            ...mapState(['homePosts', 'homeContent', 'homeTitle'])
        },

        methods: {
            getHomePosts() {

                // check if store has any data
                if ( this.$store.getters.homePosts.length ) {
                    this.getHomeTitle( this.homePosts );
                    this.getHomeContent( this.homePosts );
                } else {
                    this.$store.dispatch('getHomePosts').then(() => {
                        // now the this.account has the data from the store.
                        this.getHomeTitle( this.homePosts );
                        this.getHomeContent( this.homePosts );
                    });
                }

            },

            getHomeTitle( data ) {

                let payload = {
                    data: data,
                    lang: this.$route.params.lang
                };

                this.$store.dispatch('getHomeTitle', payload)
            },

            getHomeContent( data ) {

                let payload = {
                    data: data,
                    lang: this.$route.params.lang
                };

                this.$store.dispatch('getHomeContent', payload)
            }
        },

        mounted() {
            this.getHomePosts();
        }
    }
</script>