<template>
    <div class="col-lg-10 h-100-lg d-flex align-items-center">
        <vue-scrollbar classes="my-scrollbar" ref="Scrollbar">
            <div class="content--light menu-content" style="padding: 0 10px">

                <div class="row">
                    <div class="col-lg-10 offset-lg-4">
                        <h1 class="heading-regular" v-html="menuTitle"></h1>

                        <div v-html="menuContent"></div>
                    </div>
                </div>

            </div>
        </vue-scrollbar>
    </div>
</template>

<script>

    import VueScrollbar from 'vue2-scrollbar';

    import {mapState} from 'vuex';

    export default {

        components: {
            VueScrollbar
        },

        data() {
            return {

            }
        },

        watch: {
            '$route': function(a,b,c) {
                this.getMenuPosts();
            }
        },

        computed: {
            ...mapState(['menuPosts', 'menuContent', 'menuTitle'])
        },

        methods: {

            getMenuPosts() {

                // check if store has any data
                if ( this.$store.getters.menuPosts.length ) {
                    this.getMenuTitle( this.menuPosts );
                    this.getMenuContent( this.menuPosts );
                } else {
                    this.$store.dispatch('getMenuPosts').then(() => {
                        // now the this.account has the data from the store.
                        this.getMenuTitle( this.menuPosts );
                        this.getMenuContent( this.menuPosts );
                    });
                }

            },

            getMenuTitle( data ) {

                let payload = {
                    data: data,
                    lang: this.$route.params.lang
                };

                this.$store.dispatch('getMenuTitle', payload)
            },

            getMenuContent( data ) {

                let payload = {
                    data: data,
                    lang: this.$route.params.lang
                };

                this.$store.dispatch('getMenuContent', payload)
            }
        },

        mounted() {
            this.getMenuPosts();
        }
    }
</script>