<template>
    <div>
        <ul class="menu">
            <li v-for="item in currentMenu.items">
                <router-link :to="{ name: item.description, params: { lang: $route.params.lang } }">
                    {{item.title}}
                </router-link>
            </li>
        </ul>
    </div>
</template>

<script>

    import {mapState} from 'vuex';

    export default {

        data() {
            return {

            }
        },

        watch: {
            // call again the method if the route changes
            '$route': function(a,b,c) {
                this.getNavigationMenus();
            }
        },

        computed: {
            ...mapState(['allMenus', 'cachedMenus', 'currentMenu'])
        },

        methods: {
            getNavigationMenus() {

                // check if store has any data
                if ( this.$store.getters.allMenus.length ) {
                    this.cacheMenus( this.allMenus );
                } else {
                    this.$store.dispatch('getNavigationMenus').then(() => {
                        // now the this.account has the data from the store.
                        this.cacheMenus( this.allMenus );
                    });
                }

            },

            cacheMenus(payload) {

                if ( this.$store.getters.cachedMenus.length < 3 ) {
                    this.$store.dispatch('cacheMenus', payload).then((res) => {
                        this.getCurrentMenu( this.cachedMenus );
                    });
                } else {
                    this.getCurrentMenu( this.cachedMenus );
                }

            },

            getCurrentMenu(data) {

                let payload = {
                    data: data,
                    lang: this.$route.params.lang
                };

                this.$store.dispatch('getCurrentMenu', payload);
            }
        },

        mounted() {
            this.getNavigationMenus();
        }
    }
</script>