@mixin button($color, $bg, $fontSize: 13px) {
  @include transition(all, 150ms);
  line-height: 44px;
  display: inline-block;
  padding: 0 45px;
  border: none;
  border-radius: 4px;
  font-family: $main-font;

  font: {
    weight: 600;
    size: $fontSize;
  };
  text-transform: uppercase;
  text-align: center;

  color: $color;
  background: $bg;

  &:hover, &:active {
    text-decoration: none;
    background: darken($bg, 14%);
    color: $color;
  }
}

.regular-btn {
  @include button(white, palette(pink));

  &-action {
    @include button(white, palette(yellow));
  }
}