// All colors:

$palettes: (
  grey: (
    light: #d1d1d1,
    base: #636267,
    dark: #666666,
  ),
  pink: (
    light: #E0E0E0,
    base: #f7194e,
    dark: #666666,
  ),
  yellow: (
    base: #e9b947
  ),
  social: (
    facebook: #3C5B97,
    twitter: #21B6E6,
    google: #D84826,
    draugiem: #F29A0A,
    youtube: #E52D27,
    pinterest: #BD081C,
    linkedin: #0076B2,
    vimeo: #00A8EA,
    instagram: #e4405f
  )
);