@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

// Nice mixin which is meant to load
// a tonn of different fonts
@mixin loadFont($path, $fileName, $name) {
  @font-face {
    font-family: $name;
    src: url("#{$path}/#{$fileName}.eot");
    src: url("#{$path}/#{$fileName}.otf");
    src: url("#{$path}/#{$fileName}.eot?#iefix") format("embedded-opentype"),
    url("#{$path}/#{$fileName}.woff") format("woff"),
    url("#{$path}/#{$fileName}.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

//@include loadFont( '../../fonts', 'Avenir-Black', 'Avenir-Black' );
//
//@include loadFont( '../../fonts', 'Avenir-Medium', 'Avenir-Medium' );