body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, p, span {
  font-family: $main-font;
}

p {
  font-size: 13px;
  line-height: 1.4;
  font-family: $main-font;
}

.heading {
  &-regular {
    font-size: 24px;
    line-height: 1.4;
    font-family: $main-font;
    text-transform: uppercase;
    color: palette(grey, dark);

    @include breakpoint(lg) {
      color: white;
    }
  }
}

p {
  color: palette(grey, dark);

  @include breakpoint(lg) {
    color: white;
  }
}